<div class="main-view">
  <header>
    <div id="logo">
    </div>
    <div class="header__nav">
    </div>
    <input>
    <div class="header__icon">
    </div>
    <div class="header__profile-image">
    </div>
  </header>
  <div class="contents">
    <div class="carousel">
    </div>
    <div class="sub-content">
      <div class="sub-content__search">
      </div>
      <div class="sub-content__field">
      </div>
      <div class="sub-content__region">
      </div>
      <div class="sub-content__character">
      </div>
    </div>
    <div class="main-content">
      <div class="main-content__nav">
      </div>
      <div class="main-content__item">
      </div>
    </div>
  </div>
  <footer>
    <div class="company-info">
    </div>
    <input>
    <div class="footer__logo">
    </div>
    <div class="footer__icon">
    </div>
  </footer>
</div>
